@font-face {
    font-family: 'giz';
    src: url('giz.ttf');
}

body {
    text-align: center;
    background: url('back.jpg');
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.back {
    position: absolute;
    margin-left: -320px;
    margin-top: 350px;
    width: 150px;
}

h1 {
    font-family: 'giz';
    font-size: 30px;
    color: rgba(255, 255, 255, 0.849);
    margin-top: 30px;
}

.quadrado {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px rgba(255, 255, 255, 0.911) solid;    
    display: inline-block; /* Não ocupará o espaço da direita */
    padding: 40px;
    font-size: 40px;
    margin: 5px;
    cursor: pointer; /* Quando passa com o mouse vira uma mãozinha */
    color: #ffffff00;
}

.jogador, .vencedor {
    font: normal 17px 'Arial';
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.911);
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font: bolder 15px 'Arial';
    text-align: center;
}

.rodape p{
    text-align: center;
    font-size: 10pt;
    font-family: verdana;
    color: #808080;    
}

footer a {
    color: #808080;
}

footer a:hover {
    color: rgb(31, 28, 28);
    font-weight: bolder;    
}